.thirdpartcontainer1{
    width: 245px;
    min-height: 480px;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    margin-top: 80px;
    margin-left: 20px;
}
.withexchange{
    width: 245px;
    height: 62px;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
}
.availability{
    color: green;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.titlefont{
    font-size: 1.2em;
    color: black;
}
.addtocarts{
    min-width: 205px;
    height: 30px;
    background-color: #FFD814;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-left: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.buynow{
    width: 205px;
    height: 30px;
    background-color: #FFA41C;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-left: 20px;
    font-weight: bold;
}

.thirdpartcontainer2{
    width: 245px;
    height: 40px;
    border: 1px solid #888C8C;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}